<!doctype html>


<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap" rel="stylesheet"> 
  <%- include('partials/head') %>
  <link rel="stylesheet" type="text/css" href="./assets/manager.css">
</head>

<body>
  <%- include('partials/navbar') %>
  <script>  document.getElementById("link7").classList.add("active") 
            document.getElementById("link2").remove()
            document.getElementById("link6").remove()
            document.getElementById("link4").remove()
            document.getElementById("link8").remove()
            document.getElementById("link9").remove()

  </script>
  <div class="page-heading">
    <h3 class="text-center">Search Results</h3>
  </div>
<a href="/stats"><button class="btn btn-secondary">Return To Search</button></a>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>  Matching Awards </th>
    </tr>
    <tr>
      <th>Award ID</th>
      <th>Date Created</th>
      <th>Region</th>
      <th>Award Name</th>
      <th>Recipient</th>
      <th>Recipient Email</th>
      <th>Creator ID</th>
      <th>Creator Last Name</th>
      <th>Creator First Name</th>

    </tr>
  </thead>
    <tbody>
      <%        awardData.forEach(function(ele, i){     %>
        <tr>
          <td> <%= awardData[i].id %> </td> 
          <td> <%= awardData[i].createdon.Time %> </td>
          <td> <%= awardData[i].region.regionname %> </td>
          <td> <%= awardData[i].type %> </td>
          <td> <%= awardData[i].recipientname %> </td>
          <td> <%= awardData[i].recipientemail %> </td>
          <td> <%= awardData[i].createdby.userid %> </td>
          <td> <%= awardData[i].createdby.lastname %> </td>
          <td> <%= awardData[i].createdby.firstname %> </td>



        </tr>  
      <%        });                                    %>
    </tbody>


</table>

<a href="/stats"><button class="btn btn-secondary">Return To Search</button></a>


  <%- include('partials/footer') %>
  <%- include('partials/footscripts') %>
</body>
</html>
