<!doctype html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap" rel="stylesheet"> 
  <%- include('partials/head') %>
  <link rel="stylesheet" type="text/css" href="../../assets/deleteAward.css">
  
  <%- include('partials/navbar') %>
  <script>  document.getElementById("link6").classList.add("active") 
          document.getElementById("link1").remove()  
          document.getElementById("link3").remove() 
          document.getElementById("link4").remove()
          document.getElementById("link7").remove()
  </script>
  
</head>

<body>

  <div id='titleSpace'>
      <div id='pageTitle'>Delete Award</div>
  </div>
  
  <div id='deleteInfo'>
      <div id="confirmation">Are you sure you want to delete Award <%=AwardNum %>?</div>
      <a href="/manager/deleteaward/bye/<%=AwardNum%>"><button id="deleteButton" type="button">Delete Award</button></a>
      <a href="/manager"><button id="cancelButton" type="button">Cancel</button></a>
  </div>

  <%- include('partials/footer') %>
  <%- include('partials/footscripts') %>
  
</body>
</html>
