<!doctype html>

<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
<%- include('partials/navbar') %>
<div class="page-heading">
  <h3 class="text-center">Making employee recognition possible for the last week!</h3>
</div>

  <% if (messages.error) { %>
  <%= messages.error %>
  <% } %>

  <div class="row">
    <div class="card mx-auto col-4">
      <h4 class="card-header">Please Login</h4>
      <form action="/login" method="post" >
        <li>
          <label for="authEmail">Email: </label>
          <input type="email" id="authEmail" name="userEmail" placeholder="Enter Email Here" >
        </li>  

        <li>
          <label for="createPassword">Password</label>
          <input type="password" id="createPassword" name="userPass" placeholder="Enter Password" >
        </li>

        <input type="Submit" value="Login">
      </form>
    </div> 
  </div>

<%- include('partials/footer') %>
<%- include('partials/footscripts') %>
</body>
</html>

