<!doctype html>
<html lang="en">

<head>
  <%- include('partials/head') %>

</head>
<%- include('partials/navbar') %>

<script>  document.getElementById("link1").classList.add("active") 
          document.getElementById("link2").remove()
          document.getElementById("link4").remove()
          document.getElementById("link6").remove()
          // document.getElementById("link7").remove()
          document.getElementById("link8").remove()
          document.getElementById("link9").remove()
</script>


<body>

     <table class="table table-striped table-dark">
      <thead>
        <tr>    
          <th> <h3>Modify The Following Manager </h3> </th>
        </tr>
        <tr>
          <th>Manager ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Creation Date</th>
          <th>Created By</th>

        </tr>
      </thead>
        <tbody>
          <tr>
            <td> <%= managerData.userid %> </td> 
            <td> <%= managerData.firstname %> </td>
            <td> <%= managerData.lastname %> </td>
            <td> <%= managerData.email %> </td>
            <td> <%= managerData.createdon.Time %> </td>
            <td> <%= managerData.createdby %> </td>
          </tr>  
        </tbody>
        
    </table>

    <form action="/admin/modifymanager/edit/<%=managerData.userid%>" method="post" >
      <li>
        <label for="modfn">First Name: </label>
        <input type="text" id="modfn" name="firstname" value="<%= managerData.firstname %>" >
      </li>  
      <li>
        <label for="modln">Last Name: </label>
        <input type="text" id="modln" name="lastname" value="<%= managerData.lastname %>" >
      </li>  
      <li>
        <label for="modEmail">Email: </label>
        <input type="email" id="modEmail" name="email" value="<%= managerData.email %>" >
      </li>  


      <input type="Submit" class="btn btn-primary" value="Update">
      <a href="/admin"><button type="button" class="btn btn-secondary">Cancel</button></a>
    </form>
     
<hr>

  <%- include('partials/footer') %>
  <%- include('partials/footscripts') %>
</body>
</html>
