<!doctype html>


<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/navbar') %>
  <div class="page-heading">
    <h3 class="text-center">this is the Manager page</h3>
  </div>

<table>
  <thead>
    <tr>
      <th>  Previous awards </th>
    </tr>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Region</th>
      <th>Award</th>
      <th>Recipient</th>
      <th>Email</th>
    </tr>
  </thead>
    <tbody>
      <%        awardData.forEach(function(ele, i){     %>
        <tr>
          <td> <%= awardData[i].id %> </td> 
          <td> <%= awardData[i].timestamp.time %> </td>
          <td> <%= awardData[i].region %> </td>
          <td> <%= awardData[i].type %> </td>
          <td> <%= awardData[i].recipientname %> </td>
        </tr>  
      <%        });                                    %>
    </tbody>


</table>

  <%- include('partials/footer') %>
  <%- include('partials/footscripts') %>
</body>
</html>
