<!doctype html>
<html lang="en">

<head>
  <%- include('partials/head') %>
  <link href="https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap" rel="stylesheet"> 
  <%- include('partials/head') %>
  <link rel="stylesheet" type="text/css" href="../../assets/managerModify.css">
  <%- include('partials/navbar') %>

  <script>  
          document.getElementById("link1").classList.add("active") 
          document.getElementById("link2").remove()
          document.getElementById("link4").remove()
          document.getElementById("link6").remove()
          // document.getElementById("link7").remove()
          document.getElementById("link8").remove()
          document.getElementById("link9").remove()
  </script>
</head>


<body>
    <div id='titleSpace'></div>

     <div id="tables">
     <table class="table table-striped table-dark">
      <thead>
        <tr>    
          <th> <h3>Modify The Following Manager </h3> </th>
        </tr>
        <tr>
          <th>Manager ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Creation Date</th>
          <th>Created By</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <td> <%= managerData.userid %> </td> 
            <td> <%= managerData.firstname %> </td>
            <td> <%= managerData.lastname %> </td>
            <td> <%= managerData.email %> </td>
            <td> <%= managerData.createdon.Time %> </td>
            <td> <%= managerData.createdby %> </td>
          </tr>  
        </tbody>
      </table>
	</div>
	
    <div id='titleSpace'></div>

    <div id="managerForm">
      <form action="/admin/modifymanager/edit/<%=managerData.userid%>" method="post" >
        <div class='container'>
          <label for="modfn">First Name: </label>
          <input type="text" id="modfn" name="firstname" value="<%= managerData.firstname %>" >
        </div>
        <div class='container'>
          <label for="modln">Last Name: </label>
          <input type="text" id="modln" name="lastname" value="<%= managerData.lastname %>" >
        </div>  
        <div class='container'>
          <label for="modEmail">Email: </label>
          <input type="email" id="modEmail" name="email" value="<%= managerData.email %>" >
        </div> 

        <input id="submitButton" type="Submit" value="Update">
        <a href="/admin"><button id="cancelButton" type="button">Cancel</button></a>
      </form>
    </div>
     
<hr>

  <%- include('partials/footer') %>
  <%- include('partials/footscripts') %>
</body>
</html>
