<!doctype html>


<html lang="en">

<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" type="text/css" href="login.css" >
</head>

<body>
  <%- include('partials/navbar') %>
  <script>  document.getElementById("link2").classList.add("active") 
            document.getElementById("link1").remove()
            document.getElementById("link3").remove()
            document.getElementById("link4").remove()
  </script>
  <div class="page-heading">
    <h3 class="text-center">Awards History</h3>
  </div>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>  Previous awards </th>
    </tr>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Region</th>
      <th>Award</th>
      <th>Recipient</th>
      <th>Email</th>
    </tr>
  </thead>
    <tbody>
      <%        awardData.forEach(function(ele, i){     %>
        <tr>
          <td> <%= awardData[i].id %> </td> 
          <td> <%= awardData[i].timestamp.Time %> </td>
          <td> <%= awardData[i].region %> </td>
          <td> <%= awardData[i].type %> </td>
          <td> <%= awardData[i].recipientname %> </td>
          <td> <%= awardData[i].recipientemail %> </td>
        </tr>  
      <%        });                                    %>
    </tbody>


</table>



  <%- include('partials/footer') %>
  <%- include('partials/footscripts') %>
</body>
</html>
